*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1DA1F2;
    height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}
.card{
    margin-top: 350px;
    width: 640px;
    height: 250px;
    background-color: white;
    border-radius: 10px; 
    padding: 25px;
}
img{
    height: 45px;
    width: 45px;
}
.icono{
    font-size: 18px;
    display: flex;
    flex-direction: row;
}
p{
    font-size: 20px;
}
time{
    font-size: 16px;
}
.espacio{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
